.header {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  padding-top: 64px;
}

.content {
  position: relative;
  z-index: 2;
}

.logo {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #d1d5db;
  font-size: 2.25rem;
  margin-bottom: 8px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}

.subtitle {
  color: var(--color-tema);
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}