.toggleContainer {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #d1d5db;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 300ms;
  border: 2px solid #d1d5db;
}

.toggleContainer.dark {
  background-color: var(--color-tema);
  border-color: var(--color-tema);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: white;
  opacity: 0.3;
  transition: opacity 300ms;
}

.sun {
  left: 6px;
}

.moon {
  right: 6px;
}

.icon.visible {
  opacity: 1;
}