.sobreSection {
  padding: 80px 20px;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title {
  font-size: 1.875rem;
  margin-bottom: 32px;
  color: var(--color-tema2);
  font-weight: 600;
}

@media (min-width: 640px) {
  .title {
    font-size: 2.25rem;
  }
}

.description {
  font-size: 1.125rem;
  line-height: 1.6;
  max-width: 896px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-tema5);
}

@media (min-width: 640px) {
  .description {
    font-size: 1.25rem;
  }
}