.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  backdrop-filter: blur(5px);
  background-color: rgba(26, 26, 26, 0.4);
  scrollbar-width: thin;
  scrollbar-color: #333 var(--color-fundo);
}

.modalOverlay::-webkit-scrollbar {
  width: 10px;
}

.modalOverlay::-webkit-scrollbar-track {
  background: #333;
  border-radius: 5px;
}

.modalOverlay::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
  border: 2px solid #333;
}

.modalOverlay::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.modalContent {
  background-color: var(--color-fundo);
  color: var(--color-tema2);
  border-radius: 8px;
  padding: 24px;
  max-width: 425px;
  width: 90%;
  max-height: 38rem;
  overflow-y: auto;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-tema5);
  opacity: 0.7;
}

.closeButton:hover {
  opacity: 1;
}

.modalHeader {
  margin-bottom: 16px;
}

.modalTitle {
  font-size: 1.25rem;
  margin-bottom: 6px;
  font-weight: 600;
}

.modalDescription {
  font-size: 0.875rem;
  color: var(--color-tema5);
  margin-bottom: 2rem;
}

.modalBody {
  display: grid;
  gap: 16px;
  margin-top: 12px;
}

.formGroup {
  display: grid;
  gap: 12px;
}

.label {
  font-weight: 600;
  font-size: 0.875rem;
}

.input,
.select,
.textarea {
  border: 1px solid var(--color-tema5);
  color: var(--color-tema5);
  background-color: transparent;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  font-size: 0.875rem;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: 2px solid var(--color-tema);
  border-color: transparent;
}

.textarea {
  min-height: 80px;
  resize: vertical;
}

.modalFooter {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  font-size: 0.875rem;
}

.buttonPrimary {
  background-color: var(--color-tema2);
  color: var(--color-fundo);
}

.buttonPrimary:hover {
  background-color: var(--color-tema5);
}

.buttonOutline {
  background-color: transparent;
  border: 1px solid var(--color-tema5);
  color: var(--color-tema2);
}

.buttonOutline:hover {
  background-color: var(--color-fundo-accent);
}